@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

body {
	font-family: 'Single Day', cursive;
	background-color: pink;
}
.hero {
	background-color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	width: 90vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: rotate(2deg);
	border-radius: 20px;
	font-size: 30px;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}
small {
	opacity: 0.2;
}

footer {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
